{% extends "base.html" %}
{% block content %}
  <h1>{{response}}</h1>
  <div class="container ctr">
  {% if user.orders.all %}     
  {% for order in user.orders.all %}
  {%for p in order.product.all %}

  <div class="card crd">
      <img class="img-top"  src="{{p.product_picture.url}}" alt="">

      <div class="card-body body">
          <h5 class="card-title title">{{p.product_name}}</h5>
         
          <div class="card-footer footer">
              
              <h3><span>Rs.{{p.product_price}}</span></h3>
             
              <a class="btn btn-fluid btn-danger" href="{%url 'shop:cancelorder' slug=p.slug pk=order.pk %}">Cancel</a>

          </div>
      </div>
  </div>
  {%endfor%}
{% endfor %}
</div>
      {% else %}
      <h2>Sorry There is product in your Order List</h2>
  {% endif %}
      
{% endblock content %}